@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutPage_DN.cshtml";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <h2>Về chúng tôi</h2>
        </div>
        <div class="col-8">
            <a href="javascript:history.back()"><button class="btn btn-danger mt-2" style="width:100px"><b>Quay Lại </b></button></a>
        </div>
    </div>
</div>

<p> Người Hướng Dẫn : Nguyễn Văn Tùng</p>
<p>
    Triplet-JS là công ty công nghệ trong lĩnh vực nhân sự tại Việt Nam.<br />
    Hiện tại Triplet-JS đang sở hữu hệ thống kho dữ liệu hơn 000 ứng viên, 000 doanh nghiệp đối tác.<br />
    Với đội ngũ nhân sự trẻ trung đầy tài năng, chúng tôi luôn nỗ lực từng ngày để cải thiện chất lượng sản phẩm của mình ngày một tốt hơn.<br />
    <b>1. Tầm nhìn</b><br />
    Trở thành đơn vị cung cấp giải pháp Công nghệ giúp kết nối và phát triển nguồn nhân lực hàng đầu tại Việt Nam.<br />
    <b>2. Sứ mệnh</b><br />
    Kết nối, nâng cao chất lượng nguồn nhân lực cho thị trường lao động giúp các doanh nghiệp Việt Nam phát triển bền vững.<br />
    <b>3. Định hướng</b><br />
    Đa dạng hóa các sản phẩm công nghệ trong cùng hệ sinh thái Quản trị nhân sự.<br />
    <b>4. Giá trị cốt lõi</b><br />
    Intergrity -Chính trực và cam kết<br />
    Open Minded - Cởi mở và tích cực<br />
    People First - Tập trung vào con người<br />
    Excellence - Hướng tới sự xuất sắc<br />
    Innovation - Liên tục thay đổi để dẫn đầu<br />
    Move Fast - Phát triển nhanh<br />
</p>



