USE [master]
GO
/****** Object:  Database [QL_TKDKVIECLAM]    Script Date: 12/19/2023 1:53:28 PM ******/
CREATE DATABASE [QL_TKDKVIECLAM]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_TKDKVIECLAM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_TKDKVIECLAM]
GO
/****** Object:  Table [dbo].[DOANHNGHIEP]    Script Date: 12/19/2023 1:53:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOANHNGHIEP](
	[MaDN] [nchar](20) NOT NULL,
	[TenDN] [nvarchar](100) NULL,
	[Diachi] [nvarchar](100) NULL,
	[Email] [nvarchar](50) NULL,
	[SDT] [varchar](11) NOT NULL,
	[Namthanhlap] [char](4) NULL,
	[Tinhthanh] [nvarchar](50) NULL,
	[Password_DN] [nvarchar](100) NULL,
	[Trangthai_DN] [nvarchar](50) NULL,
 CONSTRAINT [pk_DOANHNGHIEP] PRIMARY KEY CLUSTERED 
(
	[MaDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAICONGVIEC]    Script Date: 12/19/2023 1:53:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAICONGVIEC](
	[Maloai] [nchar](20) NOT NULL,
	[Tenloai] [nvarchar](50) NULL,
	[Anh_Cviec] [nvarchar](50) NULL,
 CONSTRAINT [pk_LOAICONGVIEC] PRIMARY KEY CLUSTERED 
(
	[Maloai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BAIDANG]    Script Date: 12/19/2023 1:53:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAIDANG](
	[MaBD] [nchar](20) NOT NULL,
	[TenBD] [nvarchar](100) NULL,
	[MaDN] [nchar](20) NULL,
	[Maloai] [nchar](20) NULL,
	[Mota] [nvarchar](1000) NULL,
	[Phucloi] [nvarchar](1000) NULL,
	[Vitri] [nvarchar](1000) NULL,
	[Kinhnghiem] [nvarchar](1000) NULL,
	[Dotuoilamviec] [nvarchar](100) NULL,
	[Mucluong] [nvarchar](1000) NULL,
	[Ngaydangbai] [datetime] NULL,
	[Yeucau] [nvarchar](1000) NULL,
	[Trangthai_BD] [nvarchar](50) NULL,
 CONSTRAINT [pk_BAIDANG] PRIMARY KEY CLUSTERED 
(
	[MaBD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[XuatBaiDangTheoDN]    Script Date: 12/19/2023 1:53:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--3. Xuất Thông tin bài đăng theo các doanh nghiệp được tìm kiếm qua tên doanh nghiệp

Create Function [dbo].[XuatBaiDangTheoDN](@tendn nvarchar(50))
Returns Table
As
	Return	( 
				Select TenBD,Tenloai,Mota,Phucloi,Vitri,Kinhnghiem,Dotuoilamviec,Mucluong,Ngaydangbai,Yeucau,Trangthai_BD
				From DOANHNGHIEP Dn, BAIDANG bd, LOAICONGVIEC lcv
				Where Dn.MaDN= bd.MaDN AND bd.Maloai = lcv.Maloai AnD dn.TenDN = @tendn
			)
GO
/****** Object:  Table [dbo].[DUYET]    Script Date: 12/19/2023 1:53:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DUYET](
	[MaBD] [nchar](20) NOT NULL,
	[MaAD] [nchar](20) NOT NULL,
	[Ngayduyet] [date] NULL,
 CONSTRAINT [pk_BAIDANG_1] PRIMARY KEY CLUSTERED 
(
	[MaBD] ASC,
	[MaAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOSOUNGTUYEN]    Script Date: 12/19/2023 1:53:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOSOUNGTUYEN](
	[MAHS] [nchar](20) NOT NULL,
	[MaNUT] [nchar](20) NULL,
	[MaBD] [nchar](20) NULL,
	[CV_HSUT] [nvarchar](500) NULL,
	[NgaydangkyUT] [date] NULL,
 CONSTRAINT [pk_HOSOUNGTUYEN] PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIUNGTUYEN]    Script Date: 12/19/2023 1:53:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIUNGTUYEN](
	[MaNUT] [nchar](20) NOT NULL,
	[Hoten] [nvarchar](50) NULL,
	[Diachi] [nvarchar](50) NULL,
	[SDT] [varchar](11) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[CV_NUT] [nvarchar](500) NULL,
	[Ngaysinh] [date] NULL,
	[Gioitinh] [nvarchar](10) NULL,
	[Password_NUT] [nvarchar](100) NULL,
 CONSTRAINT [pk_NGUOIUNGTUYEN] PRIMARY KEY CLUSTERED 
(
	[MaNUT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TK_Admin]    Script Date: 12/19/2023 1:53:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TK_Admin](
	[MaAD] [nchar](20) NOT NULL,
	[Hoten] [nvarchar](50) NULL,
	[Diachi] [nvarchar](50) NULL,
	[SDT] [varchar](11) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Ngaysinh] [date] NULL,
	[Gioitinh] [nvarchar](10) NULL,
	[Password_AD] [nvarchar](100) NULL,
 CONSTRAINT [pk_TKADMIN] PRIMARY KEY CLUSTERED 
(
	[MaAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DOANHNGHIEP] ([MaDN], [TenDN], [Diachi], [Email], [SDT], [Namthanhlap], [Tinhthanh], [Password_DN], [Trangthai_DN]) VALUES (N'DN001               ', N'Công ty Cổ phần SANOFI Việt Nam', N'Khu công nghệ cao quận 9', N'nga81098@gmail.com', N'0782523152', N'1956', N'TP.HCM', N'123456', N'Đã Duyệt')
INSERT [dbo].[DOANHNGHIEP] ([MaDN], [TenDN], [Diachi], [Email], [SDT], [Namthanhlap], [Tinhthanh], [Password_DN], [Trangthai_DN]) VALUES (N'DN002               ', N'Công ty Cổ phần Kỹ nghệ Thực phẩm Việt Nam (VIFON)', N'913 Trường Chinh, P. Tây Thạnh, Q. Tân Phú', N'vifon@gmail.com', N'08976584632', N'1977', N'TP.HCM', N'111111', N'Đã Duyệt')
INSERT [dbo].[DOANHNGHIEP] ([MaDN], [TenDN], [Diachi], [Email], [SDT], [Namthanhlap], [Tinhthanh], [Password_DN], [Trangthai_DN]) VALUES (N'DN003               ', N'Công Ty Cổ phần XNK Dona Mit', N'Tổ 5, ấp 1, Xã Xuân Bắc, Huyện Xuân Lộc', N'donamit@gmail.com', N'0732523152', N'2021', N'Đồng Nai', N'aaaaaa', N'Đã Duyệt')
GO
INSERT [dbo].[DUYET] ([MaBD], [MaAD], [Ngayduyet]) VALUES (N'BD001               ', N'AD001               ', CAST(N'2023-10-11' AS Date))
INSERT [dbo].[DUYET] ([MaBD], [MaAD], [Ngayduyet]) VALUES (N'BD002               ', N'AD001               ', CAST(N'2023-10-11' AS Date))
INSERT [dbo].[DUYET] ([MaBD], [MaAD], [Ngayduyet]) VALUES (N'BD003               ', N'AD002               ', CAST(N'2023-10-12' AS Date))
GO
INSERT [dbo].[LOAICONGVIEC] ([Maloai], [Tenloai], [Anh_Cviec]) VALUES (N'L001                ', N'Công nghệ thực phẩm', N'nganh-cong-nghe-thuc-pham.jpg')
INSERT [dbo].[LOAICONGVIEC] ([Maloai], [Tenloai], [Anh_Cviec]) VALUES (N'L002                ', N'Đảm bảo chất lượng và an toàn thực phẩm', N'nganh-dam-bao-chat-luong-va-an-toan-thuc-pham.jpg')
INSERT [dbo].[LOAICONGVIEC] ([Maloai], [Tenloai], [Anh_Cviec]) VALUES (N'L003                ', N'Công nghệ chế biến thuỷ sản', N'nganh-cong-nghe-che-bien-thuy-san1.jpg')
GO
INSERT [dbo].[NGUOIUNGTUYEN] ([MaNUT], [Hoten], [Diachi], [SDT], [Email], [CV_NUT], [Ngaysinh], [Gioitinh], [Password_NUT]) VALUES (N'NUT001              ', N'Lê Thành Nhân', N'263 Hoang Hoa Tham', N'0782511972', N'nhanle1111@gmail.com', N'https://drive.google.com/drive/folders/1e4U1ojKvxJSsyRiTBLQABup9rhN-3tMR?usp=drive_link', CAST(N'2021-09-16' AS Date), N'Nam', N'aaaaaa')
INSERT [dbo].[NGUOIUNGTUYEN] ([MaNUT], [Hoten], [Diachi], [SDT], [Email], [CV_NUT], [Ngaysinh], [Gioitinh], [Password_NUT]) VALUES (N'NUT002              ', N'Hoang Le Thanh My', N'324 Hòa Bình', N'0782511152', N'myhoang001@gmail.com', N'https://drive.google.com/drive/folders/2l9P1ojKvxJSsyRiTBLQABup9rhN-3tMR?usp=drive_link', CAST(N'1998-05-13' AS Date), N'Nữ', N'zzzzzz')
INSERT [dbo].[NGUOIUNGTUYEN] ([MaNUT], [Hoten], [Diachi], [SDT], [Email], [CV_NUT], [Ngaysinh], [Gioitinh], [Password_NUT]) VALUES (N'NUT003              ', N'Nguyen Uy Tin', N'201 Trần Thị Báo', N'0783001152', N'uytin1415@gmail.com', N'https://drive.google.com/drive/folders/3m1L1ojKvxJSsyRiTBLQABup9rhN-3tMR?usp=drive_link', CAST(N'2000-02-17' AS Date), N'Nam', N'123456')
GO
INSERT [dbo].[TK_Admin] ([MaAD], [Hoten], [Diachi], [SDT], [Email], [Ngaysinh], [Gioitinh], [Password_AD]) VALUES (N'AD001               ', N'Trần Đình Trung Tín', N'262 Lũy Bán Bích', N'0782533332', N'tin@gmail.com', CAST(N'2002-09-12' AS Date), N'Nam', N'ql111')
INSERT [dbo].[TK_Admin] ([MaAD], [Hoten], [Diachi], [SDT], [Email], [Ngaysinh], [Gioitinh], [Password_AD]) VALUES (N'AD002               ', N'Hồ Thanh Tùng', N'384 Thống Nhất', N'0782531112', N'tung@gmail.com', CAST(N'2002-11-26' AS Date), N'Nam', N'ql222')
INSERT [dbo].[TK_Admin] ([MaAD], [Hoten], [Diachi], [SDT], [Email], [Ngaysinh], [Gioitinh], [Password_AD]) VALUES (N'AD003               ', N'Nguyễn Lê Hưu Thắng', N'408 Nguyễn Tri Phương', N'0789463332', N'thang@gmail.com', CAST(N'2002-08-22' AS Date), N'Nam', N'ql333')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UNI_TEN_BD]    Script Date: 12/19/2023 1:53:28 PM ******/
ALTER TABLE [dbo].[BAIDANG] ADD  CONSTRAINT [UNI_TEN_BD] UNIQUE NONCLUSTERED 
(
	[TenBD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BAIDANG]  WITH CHECK ADD  CONSTRAINT [fk_BAIDANG_LCV] FOREIGN KEY([Maloai])
REFERENCES [dbo].[LOAICONGVIEC] ([Maloai])
GO
ALTER TABLE [dbo].[BAIDANG] CHECK CONSTRAINT [fk_BAIDANG_LCV]
GO
ALTER TABLE [dbo].[BAIDANG]  WITH CHECK ADD  CONSTRAINT [fk_DOANHNGHIEP_LCV] FOREIGN KEY([MaDN])
REFERENCES [dbo].[DOANHNGHIEP] ([MaDN])
GO
ALTER TABLE [dbo].[BAIDANG] CHECK CONSTRAINT [fk_DOANHNGHIEP_LCV]
GO
ALTER TABLE [dbo].[DUYET]  WITH CHECK ADD  CONSTRAINT [fk_BAIDANG_DUYET] FOREIGN KEY([MaBD])
REFERENCES [dbo].[BAIDANG] ([MaBD])
GO
ALTER TABLE [dbo].[DUYET] CHECK CONSTRAINT [fk_BAIDANG_DUYET]
GO
ALTER TABLE [dbo].[DUYET]  WITH CHECK ADD  CONSTRAINT [fk_TKADMIN_DUYET] FOREIGN KEY([MaAD])
REFERENCES [dbo].[TK_Admin] ([MaAD])
GO
ALTER TABLE [dbo].[DUYET] CHECK CONSTRAINT [fk_TKADMIN_DUYET]
GO
ALTER TABLE [dbo].[HOSOUNGTUYEN]  WITH CHECK ADD  CONSTRAINT [fk_HOSOUNGTUYEN_BD] FOREIGN KEY([MaBD])
REFERENCES [dbo].[BAIDANG] ([MaBD])
GO
ALTER TABLE [dbo].[HOSOUNGTUYEN] CHECK CONSTRAINT [fk_HOSOUNGTUYEN_BD]
GO
ALTER TABLE [dbo].[HOSOUNGTUYEN]  WITH CHECK ADD  CONSTRAINT [fk_HOSOUNGTUYEN_NUT] FOREIGN KEY([MaNUT])
REFERENCES [dbo].[NGUOIUNGTUYEN] ([MaNUT])
GO
ALTER TABLE [dbo].[HOSOUNGTUYEN] CHECK CONSTRAINT [fk_HOSOUNGTUYEN_NUT]
GO
ALTER TABLE [dbo].[DOANHNGHIEP]  WITH CHECK ADD  CONSTRAINT [CK_EMAIL_DN] CHECK  (([Email] like '_%@__%.__%'))
GO
ALTER TABLE [dbo].[DOANHNGHIEP] CHECK CONSTRAINT [CK_EMAIL_DN]
GO
ALTER TABLE [dbo].[DOANHNGHIEP]  WITH CHECK ADD  CONSTRAINT [CK_SDT_DN] CHECK  ((datalength([SDT])>=(10) AND datalength([SDT])<(12)))
GO
ALTER TABLE [dbo].[DOANHNGHIEP] CHECK CONSTRAINT [CK_SDT_DN]
GO
ALTER TABLE [dbo].[NGUOIUNGTUYEN]  WITH CHECK ADD  CONSTRAINT [CK_EMAIL_NUT] CHECK  (([Email] like '_%@__%.__%'))
GO
ALTER TABLE [dbo].[NGUOIUNGTUYEN] CHECK CONSTRAINT [CK_EMAIL_NUT]
GO
ALTER TABLE [dbo].[NGUOIUNGTUYEN]  WITH CHECK ADD  CONSTRAINT [CK_GIOITINH_NV] CHECK  (([Gioitinh] like 'Nam' OR [Gioitinh] like N'Nữ'))
GO
ALTER TABLE [dbo].[NGUOIUNGTUYEN] CHECK CONSTRAINT [CK_GIOITINH_NV]
GO
ALTER TABLE [dbo].[NGUOIUNGTUYEN]  WITH CHECK ADD  CONSTRAINT [CK_SDT_NUT] CHECK  ((datalength([SDT])>=(10) AND datalength([SDT])<(12)))
GO
ALTER TABLE [dbo].[NGUOIUNGTUYEN] CHECK CONSTRAINT [CK_SDT_NUT]
GO
/****** Object:  StoredProcedure [dbo].[sp_Duyet_Insert]    Script Date: 12/19/2023 1:53:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Drop trigger CapNhatDuyetBaiDang
--go


--5 proc Thêm duyệt
CREATE  PROCEDURE [dbo].[sp_Duyet_Insert]
	@MaBD nchar(20),
	@MaAD nchar(20)
AS
BEGIN
	Insert into DUYET(MaBD,MaAD,Ngayduyet)
	Values (@MaBD,@MaAD,GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[XuatBDtheoDn]    Script Date: 12/19/2023 1:53:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create proc [dbo].[XuatBDtheoDn] @tendn nvarchar(50)
as 
begin

		select * from dbo.XuatBaiDangTheoDN(@tendn)
end
GO
USE [master]
GO
